footer
   section.footer-info.text-center
      .container
         .row
            ul.footer-blocks
               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading Need Help
                     .contact-info
                        span Email Id :
                           a(href="mailto:ramya@bonito.in") ramya@bonito.in
                        span Phone number :
                           a(href="tel: +9538509629") +91-9538509629
               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading want to join us?
                     a(href="about-us.html#career")
                        button.button-default.button-default--white Explore Careers                      

               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading Follow us
                     a.social-links(href="https://www.medium.com" aria-hidden="true" target='_blank')
                        i.bonito-medium.item-white.social-links__medium
                     a.social-links(href="https://www.twitter.com" aria-hidden="true" target='_blank')
                        i.bonito-twitter.item-white.social-links__twitter
                     a.social-links(href="https://www.facebook.com" aria-hidden="true" target='_blank')
                        i.bonito-facebook.item-white.social-links__facebook
                     a.social-links(href="https://www.flickr.com" aria-hidden="true" target='_blank')
                        i.bonito-flickr.item-white.social-links__google

   // copyright 

   section.copy-right.text-center
      span.copy-right__item Copyright 2013 Bonito Designs
      span.copy-right__item All rights reserved
      span.copy-right__item Crafted by 
         a.item-white(href="http://www.lollypop.biz" target="_blank") Lollypop


               



