@charset "UTF-8";

@font-face {
  font-family: "bonito-icons";
  src: url("../fonts/Bonito-Icons/bonito-icons.eot");
  src: url("../fonts/Bonito-Icons/bonito-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Bonito-Icons/bonito-icons.woff") format("woff"), url("../fonts/Bonito-Icons/bonito-icons.ttf") format("truetype"), url("../fonts/Bonito-Icons/bonito-icons.svg#bonito-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "bonito-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bonito-"]:before,
[class*=" bonito-"]:before {
  font-family: "bonito-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bonito-bulb-icon:before {
  content: "\61";
}
.bonito-check:before {
  content: "\62";
}
.bonito-close:before {
  content: "\63";
}
.bonito-contact:before {
  content: "\64";
}
.bonito-down-arrow:before {
  content: "\65";
}
.bonito-facebook:before {
  content: "\66";
}
.bonito-flat-name:before {
  content: "\67";
}
.bonito-flickr:before {
  content: "\68";
}
.bonito-floor-area:before {
  content: "\69";
}
.bonito-floor-plan:before {
  content: "\6a";
}
.bonito-leave-message:before {
  content: "\6b";
}
.bonito-left-arrow:before {
  content: "\6c";
}
.bonito-linkedin:before {
  content: "\6d";
}
.bonito-youtube:before {
  content: "\6e";
}
.bonito-uncheck:before {
  content: "\6f";
}
.bonito-twitter:before {
  content: "\70";
}
.bonito-search-icon:before {
  content: "\71";
}
.bonito-right-arrow:before {
  content: "\72";
}
.bonito-quote-icon:before {
  content: "\73";
}
.bonito-plus:before {
  content: "\74";
}
.bonito-play-icon:before {
  content: "\75";
}
.bonito-play:before {
  content: "\76";
}
.bonito-name:before {
  content: "\77";
}
.bonito-minus:before {
  content: "\78";
}
.bonito-medium:before {
  content: "\79";
}
.bonito-mail:before {
  content: "\7a";
}
